# Call-Astro Config
PORT=8000
DEBUG=True

# Ollama Endpoint
OLLAMA_HOST=http://localhost:11434

# Ollama LLM model name (e.g. llama3, mistral, gemma2, phi3)
OLLAMA_LLM_MODEL=llama3

# Embeddings: Choose "ollama" to use ollama embeddings, or "local" to use sentence-transformers locally
EMBEDDING_PROVIDER=local
LOCAL_EMBEDDING_MODEL=all-MiniLM-L6-v2
